.btn {
  display: inline-flex;
  padding: 18px 58px;
  box-sizing: border-box;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  background-color: $color-transparent;
  border-style: solid;
  cursor: pointer;

  transition: background-color $trans-default;

  &--primary {
    color: $color-default-white;
    border-width: 4px;
    border-color: $color-default-white;

    @include hover-focus {
      color: $color-egyptian-blue;
      background-color: $color-default-white;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
