.btn {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;

  user-select: none;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  background-color: $color-transparent;
  border-style: solid;
  cursor: pointer;

  transition: background-color $trans-default;

  &--primary {
    width: 234px;
    padding: 21px 30px;

    color: $color-default-white;
    border-width: 4px;
    border-color: $color-default-white;

    @include hover-focus {
      color: $color-egyptian-blue;
      background-color: $color-default-white;
    }

    @include active {
      color: $color-default-dark;
      background-color: $color-default-white;
    }

    @include vp-1199 {
      width: 187px;
      padding: 20px 30px;
    }

    @include vp-767 {
      padding: 20px 30px;
      width: 100%;
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
