.coach {
  position: relative;

  cursor: pointer;
}

.coach__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 53px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  color: $color-default-white;
  font-family: $ff-roboto-condensed;

  @include hover-focus {
    justify-content: flex-start;

    background-color: transparentize($color-default-dark, 0.2);
    outline: none;

    & .coach__achievements {
      display: block;
    }
  }
}

.coach__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 27px;
}

.coach__achievements {
  display: none;
}

.coach__subtitle {
  margin-top: 0;
  margin-bottom: 37px;
  text-align: center;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-spindle;
}
