.coach {
  position: relative;
  display: block;
  width: 260px;
  margin-left: 20px;

  cursor: pointer;

  @include vp-1199 {
    width: 268px;
    margin-left: 17px;
  }

  @include vp-767 {
    width: 226px;
    margin-left: 11px;
  }

  @include vp-320 {
    margin-left: 1px;
  }
}

.coach__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 53px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  color: $color-default-white;
  font-family: $ff-roboto-condensed;

  @include hover-focus {
    justify-content: flex-start;

    outline: none;
    background-color: transparentize($color-default-dark, 0.2);

    & .coach__achievements {
      display: block;
    }
  }

  @include vp-767 {
    padding-top: 43px;
    padding-right: 0;
    padding-left: 0;
  }
}

.coach img {
  width: 100%;
  height: 294px;
  object-fit: cover;

  @include vp-767 {
    height: 274px;
  }
}

.coach__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 27px;
}

.coach__achievements {
  display: none;
}

.coach__subtitle {
  margin-top: 0;
  margin-bottom: 37px;
  text-align: center;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $color-spindle;
}
