.site-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  max-width: 450px;

  list-style-type: none;

  @include vp-1199 {
    gap: 10px;
    max-width: 300px;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 22px;
  }
}

.site-list__item {
  display: flex;

  &--logo {
    display: none;

    @include vp-767 {
      width: 68px;
      height: 22px;
      display: flex;
    }
  }
}

.site-list__link {
  position: relative;
  padding: 7px 10px 8px 10px;
  max-width: 100px;

  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  user-select: none;


  @include hover {
    &:not(.site-list__link--disabled) {
      &::before {
        content: "";
        position: absolute;
        left: 10px;
        bottom: -1px;
        width: calc(100% - 20px);
        height: 1px;

        background-color: $color-default-white;
      }
    }
  }

  @include focus {
    &:not(.site-list__link--disabled) {
      outline: 1px solid $color-default-white;
    }
  }

  @include active {
    &:not(.site-list__link--disabled) {
      outline: none;
    }
  }

  &--disabled {
    outline: none;
    cursor: default;
    opacity: 0.5;
  }

  @include vp-767 {
    padding: 0;

    font-size: 16px;
    line-height: 18px;
  }
}
