.subscription-card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 360px;
  text-align: center;
  padding-top: 52px;
  padding-right: 50px;
  padding-bottom: 62px;
  padding-left: 50px;
  border-width: 7px;
  border-style: solid;
  border-color: $color-default-white;

  background-color: $color-default-white;
  font-family: $ff-roboto-condensed;

  @include hover {
    border-image-source: $color-gradient-additional;
    border-image-slice: 1;
    outline: none;

    & .subscription-card__btn {
      color: $color-default-white;
      background: $color-gradient-button;
      border-image-source: $color-gradient-button;
      border-image-slice: 1;
    }
  }

  &:has(.subscription-card__btn:focus) {
    border-image-source: $color-gradient-additional;
    border-image-slice: 1;
    outline: none;
  }

  @include vp-1199 {
    width: 442px;
  }

  @include vp-767 {
    width: 290px;
    padding-top: 44px;
    padding-bottom: 49px;
  }
}

.subscription-card__title {
  color: $color-default-dark;
  font-size: 26px;
  line-height: 39px;

  margin-top: 0;
  margin-bottom: 4px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;

    margin-bottom: 10px;
  }
}

.subscription-card__time {
  color: $color-default-dark;

  margin-top: 0;
  margin-bottom: 58px;

  @include vp-767 {
    margin-bottom: 50px;
  }
}

.subscription-card__price-wrap {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  color: $color-egyptian-blue;

  text-align: center;
  margin-top: 0;
  margin-bottom: 35px;

  &::before {
    content: attr(data-parent);
    z-index: 1;
    position: absolute;
    left: 71px;
    top: 161px;

    color: $color-whisper;
    font-size: 100px;
    font-weight: 700;

    @include vp-1199 {
      left: 113px;
    }

    @include vp-767 {
      top: 111px;
      left: 58px;

      font-size: 80px;
      line-height: 120px;
    }
  }

  @include vp-1199 {
    padding-left: 7px;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;

    margin-bottom: 29px;
  }
}

.subscription-card__price {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.subscription-card__rouble {
  @include vp-1199 {
    margin-left: -5px;
  }
}

.subscription-card__btn {
  align-self: center;
}
